{% if form_file%}
<br />
<form method="POST" enctype=multipart/form-data class="text-center">

    <div class="mb-3">
        {{ form_file.hidden_tag() }}
        {{ form_file.file.label }}
        {{ form_file.file }}
    </div>
    <div class="text-center">
        {{ form_file.hidden_tag() }}
        {{ form_file.submit() }}
    </div>
</form>
<br />
{% endif %}

{% if content %}
<div class="row">
    <h3 class="text-center">Python Code</h3>
    <div class="col-sm-auto mx-auto">
        <pre><code class="language-python">{{content}}</code></pre>
    </div>
</div>
<br />
{% endif %}

{% if form_field %}
<br />
<form method="POST" class="text-center">

    {{ form_field.hidden_tag() }}
    {{ form_field.field.label }}
    {{ form_field.field }}
    <br />
    <div class="text-center">
        {{ form_field.submit() }}
    </div>
</form>
<br />
{% endif %}